/* custom CenCOOS css */

.wy-side-nav-search>a{
    display:relative !important;
    padding-top:90px !important;
}

.wy-side-nav-search>a img{
    position:absolute !important;
    top:0px !important;
    left:0px !important;
    right:0px !important;
}
