/* custom SECOORA css */

.wy-side-nav-search {
	background-color:#31889d !important;
}

.wy-side-nav-search img {
	background-color:#31889d !important;
}

.wy-side-nav-search input[type=text] {
	border-color:#31889d !important;
}

.wy-side-nav-search>a{
    display:relative !important;
    padding-top:50px !important;
}

.wy-side-nav-search>a img{
    position:absolute !important;
    top:0px !important;
    left:0px !important;
    right:0px !important;
}
